.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(80, 230, 125);
}

.App-link {
  color: #61dafb;
}

.App-container{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  background-color: #393f49;
  padding:20px;
}