.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(80, 230, 125);
}

.App-link {
  color: #61dafb;
}

.App-container{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  background-color: #393f49;
  padding:20px;
  border-radius:0.4rem;
}

.App-container img{
  margin:10px;
  margin-bottom:20px;
}

.App-container p,
.App-container h2{
  text-align:center;
}

.red-border{
  -webkit-box-shadow: 0px 0px 5px 0px var(--red);
  -moz-box-shadow: 0px 0px 5px 0px var(--red);
  box-shadow: 0px 0px 5px 0px var(--red);
  border-radius: 0.2rem;
  border: 2px solid var(--red);
}

.yellow-border{
  -webkit-box-shadow: 0px 0px 5px 0px var(--yellow);
  -moz-box-shadow: 0px 0px 5px 0px var(--yellow);
  box-shadow: 0px 0px 5px 0px var(--yellow);
  border-radius: 0.2rem;
  border: 2px solid var(--yellow);
}

.green-border{
  -webkit-box-shadow: 0px 0px 5px 0px var(--green);
  -moz-box-shadow: 0px 0px 5px 0px var(--green);
  box-shadow: 0px 0px 5px 0px var(--green);
  border-radius: 0.2rem;
  border: 2px solid var(--green);
}

.red-text{
  color:var(--red);
}

.yellow-text{
  color:var(--yellow);
}

.green-text{
  color:var(--green);
}